* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: red;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 40px;
    text-transform: uppercase;
}

p {
    color: blue;
    font-size: 25px;
    line-height: 1.5;
}

.input_sec {
    border: 2px solid black;
    width: 3rem;
    height: 3rem;
    margin-top: 1%;
    background-color: lightgrey;
}

#inp1 {
    margin-top: 5%;
}

button {
    margin-top: 5%;
    text-transform: uppercase;
    padding: 0.5rem;
    background-color: blue;
    color: white;
    font-weight: bold;
}

button:hover {
    color: blue;
    transition: all ease 0.5s;
    background-color: white;
    font-weight: bold;
}
